@import 'variables';
body {
    margin: 0;
    padding: 0;
}
div {
    border: 1px solid black;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    height: 60px;
}
.content {
    flex: 1;
}
.footer {
    height: 60px;
}