// COLORS
$color-dark: #272727;
$color-white: #eff1f3;
$color-grey: #696773;
$color-primary: #009fb7;
$color-secondary: #fed766;

// SPACING
$spacing-small: 5px;
$spacing-large: 10px;
$spacing-huge: 30px;

// CUSTOM

// BORDER
$border-radius: 8px;

// FONT
$font-size-text: 12px;
$font-size-header: 14px;

$font-bold: bold;
